<form nz-form nzLayout="vertical" [formGroup]="loginForm">
  <nz-form-item>
    <nz-form-label nzFor="email">E-mail</nz-form-label>
    <nz-form-control>
      <input nz-input name="email" type="email" formControlName="email" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzFor="password">Password</nz-form-label>
    <nz-form-control>
      <input nz-input name="password" type="password" formControlName="password" />
    </nz-form-control>
    <a routerLink="/auth/forget-password">Esqueci minha senha?</a>
  </nz-form-item>
</form>

<nz-flex nzGap="small">
  <button nz-button nzType="primary" nzBlock (click)="login()">Login</button>
</nz-flex>
